/src/Bill.Demo.Solutions/Bill.Demo.Services.Server/obj
/src/Bill.Demo.Solutions/Bill.Demo.Services.Server/bin
/src/Bill.Demo.Solutions/Bill.Demo.IModuleServices/obj
/src/Bill.Demo.Solutions/Bill.Demo.IModuleServices/bin
/src/Bill.Demo.Solutions/Bill.Demo.ModuleServices/obj
/src/Bill.Demo.Solutions/Bill.Demo.ModuleServices/bin
/src/Bill.Demo.Solutions/Bill.Demo.Web/bin
/src/Bill.Demo.Solutions/Bill.Demo.Web/obj
/src/Bill.Demo.Solutions/Bill.Demo.DapperCore/obj
/src/Bill.Demo.Solutions/Bill.Demo.DapperCore/bin
bin
/src/Bill.Demo.Solutions/Bill.Demo.Core/obj
